@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

body {
  background-color: #020617;
  color: #f8fafc;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #090d16;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0284c7;
}
